
/Src/NLangDetect.suo
/Src/_ReSharper.NLangDetect
/Src/NLangDetect.5.0.ReSharper.user
/Src/NLangDetect.ConsoleApp/obj
/Src/NLangDetect.ConsoleApp/bin
/Src/NLangDetect.Core/obj
/Src/NLangDetect.Core/bin
/Src/NLangDetect.Core.Tests/obj
/Src/NLangDetect.Core.Tests/bin
/NLangDetect.sln — skrót.lnk
/Src/NLangDetect.ConsoleApp/NLangDetect.ConsoleApp.csproj.user
/Src/NLangDetect.6.0.ReSharper.user
/Bin
/Tests
/NLangDetect.sln - Shortcut.lnk
/Src/NLangDetect.sln.DotSettings.user